<% include partials/header %>

<h1>Here are the posts</h1>

<% posts.forEach(function(post) { %>
    <li>
        <%= post.title %> - <strong><%= post.author %></strong>
    </li>
<% }); %>

<% include partials/footer %>